*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #111111;
    color: #fff;
}
html, body, body > div{
    height: 100%;
}


.btn{
    border: none;
    outline: none;
    padding: 1em 1.5em;
    background-color: rgb(28, 123, 247);
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
        filter: brightness(.9);
    }
}

.input-group{
    display: flex;
    align-items: center;
    --height: 45px;
    .input-group-input{
        flex-grow: 1;
        padding: 1em;
        border: 1px solid rgb(133, 147, 163);
        outline: none;
        border-radius: 5px;
        height: var(--height);
    }
    .btn{
        height: var(--height);
    }
    &.w-btn .input-group-input{
        border-radius: 5px 0 0 5px;
    }
    &.w-btn .btn{
        border-radius: 0 5px 5px 0;
    }
}

.mb-05{
    margin-bottom: 0.5em;
}
.d-inline-block{
    display: inline-block;
}
